Repository intellifide/JuaLuma-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pytest
        name: backend-pytest
        entry: bash -c 'cd backend && DATABASE_URL=sqlite:///./test.db pytest -q'
        language: system
        files: ^backend/.*
        pass_filenames: false

      - id: frontend-app-lint
        name: frontend-app-lint
        entry: bash -c 'cd frontend-app && npm run lint'
        language: system
        files: ^frontend-app/.*\.tsx?$
        pass_filenames: false

      - id: frontend-app-typecheck
        name: frontend-app-typecheck
        entry: bash -c 'cd frontend-app && npx tsc --noEmit'
        language: system
        files: ^frontend-app/.*\.tsx?$
        pass_filenames: false

      - id: gcp-deploy-guard
        name: gcp-deploy-guard
        entry: bash scripts/check_gcp_drift.sh
        language: system
        files: ^\.github/workflows/deploy-(dev|prod)\.yml$
        pass_filenames: false

      - id: enforce-test-email-domain
        name: enforce-test-email-domain
        entry: bash scripts/enforce_test_email_domain.sh
        language: system
        files: ^(backend/tests/|frontend-app/src/tests/|tests/|scripts/).*
        pass_filenames: false

fix(billing): prevent paid checkout/profile failures
  backend/api/auth.py
  backend/api/billing.py
  backend/services/billing.py
  backend/tests/test_auth.py
  backend/tests/test_billing_checkout.py
Due: backend-pytest, enforce-test-email-domain

fix(billing): prevent paid checkout/profile failures (#54)
  backend/api/auth.py
  backend/api/billing.py
  backend/services/billing.py
  backend/tests/test_auth.py
  backend/tests/test_billing_checkout.py
Due: backend-pytest, enforce-test-email-domain

docs(license): replace short-form notices with full PolyForm text [skip ci]
  LICENSE
  docs/legal/Source-Available-License.md
  docs/legal/Terms-of-Service.md
Due: none

docs(license): replace short-form notices with full PolyForm text
  LICENSE
  docs/legal/Source-Available-License.md
  docs/legal/Terms-of-Service.md
Due: none

fix(dev): restore marketing pricing, global AI doc retrieval, and OTP noreply sender
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
  backend/api/ai.py
  backend/core/config.py
  backend/services/email.py
  backend/services/financial_context.py
  backend/tests/test_email_sender_identity.py
  backend/tests/test_financial_context_documents.py
  frontend-app/src/pages/PlanSelection.tsx
  frontend-app/src/pages/tests/PlanSelection.badge.test.tsx
  frontend-marketing/package-lock.json
  frontend-marketing/package.json
  frontend-marketing/src/app/pricing/page.test.tsx
  frontend-marketing/src/app/pricing/page.tsx
  frontend-marketing/src/components/AppAuthLink.tsx
  frontend-marketing/src/setupTests.ts
  frontend-marketing/vitest.config.ts
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

fix(email): enforce delegated mailbox userId for OTP sends
  backend/services/email.py
  backend/tests/test_email_sender_identity.py
Due: backend-pytest, enforce-test-email-domain

fix(email): enforce delegated Gmail subject in keyless mode
  backend/services/email.py
Due: backend-pytest

fix(email): enforce noreply sendAs for OTP delivery
  backend/services/email.py
  backend/tests/test_email_sender_identity.py
Due: backend-pytest, enforce-test-email-domain

fix(email): align OTP reply-to with noreply sender
  backend/services/email.py
  backend/tests/test_email_sender_identity.py
Due: backend-pytest, enforce-test-email-domain

fix(email): send OTP via primary mailbox alias path
  backend/services/email.py
  backend/tests/test_email_sender_identity.py
Due: backend-pytest, enforce-test-email-domain

fix(email): self-heal missing noreply Gmail sendAs alias
  backend/services/email.py
  backend/tests/test_email_sender_identity.py
Due: backend-pytest, enforce-test-email-domain

chore(stage): promote Dev snapshot through 44da311
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
  backend/api/ai.py
  backend/core/config.py
  backend/services/email.py
  backend/services/financial_context.py
  backend/tests/test_email_sender_identity.py
  backend/tests/test_financial_context_documents.py
  frontend-app/src/pages/PlanSelection.tsx
  frontend-app/src/pages/tests/PlanSelection.badge.test.tsx
  frontend-marketing/package-lock.json
  frontend-marketing/package.json
  frontend-marketing/src/app/pricing/page.test.tsx
  frontend-marketing/src/app/pricing/page.tsx
  frontend-marketing/src/components/AppAuthLink.tsx
  frontend-marketing/src/setupTests.ts
  frontend-marketing/vitest.config.ts
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

chore(stage): promote Dev OTP sender fix through 44da311
  backend/services/email.py
  backend/tests/test_email_sender_identity.py
Due: backend-pytest, enforce-test-email-domain

fix(email): isolate settings scopes from core Gmail sends
  backend/services/email.py
  backend/tests/test_email_sender_identity.py
Due: backend-pytest, enforce-test-email-domain

chore(stage): promote Dev email scope gating fix (f9600db)
  backend/services/email.py
  backend/tests/test_email_sender_identity.py
Due: backend-pytest, enforce-test-email-domain

chore(stage): promote Dev email scope gating fix (f9600db) (#64)
  backend/services/email.py
  backend/tests/test_email_sender_identity.py
Due: backend-pytest, enforce-test-email-domain

fix(plan-selection): force visible overflow for popular badge
  frontend-app/src/pages/PlanSelection.tsx
  frontend-app/src/pages/tests/PlanSelection.badge.test.tsx
Due: frontend-app-lint, frontend-app-typecheck

fix(plan-selection): force visible overflow for popular badge (#65)
  frontend-app/src/pages/PlanSelection.tsx
  frontend-app/src/pages/tests/PlanSelection.badge.test.tsx
Due: frontend-app-lint, frontend-app-typecheck

chore: remediate runtime drift and harden promotion gates
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  .github/workflows/identity-key-drift-check.yml
  PARITY_CONTRACT.md
  docs/PARITY_CONTRACT.md
  docs/reports/README.md
  docs/reports/cloud-run-runtime-audit-2026-02-27-remediated.md
  docs/reports/cloud-run-runtime-audit-2026-02-27.md
  docs/reports/pre-prod-readiness-2026-02-27.md
  docs/reports/url-health-2026-02-27.md
  docs/runbooks/deploy-release-sop.md
  docs/stage-release-architecture.md
  docs/stage-rollback-runbook.md
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/stage/main.tf
  ops/identity-keys/README.md
  ops/identity-keys/browser-auth-policy.public.json
  scripts/apply_identity_key_policy.sh
  scripts/check_identity_key_drift.sh
  scripts/check_run_parity.sh
Due: gcp-deploy-guard, enforce-test-email-domain

chore: remediate runtime drift and harden promotion gates (#66)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  .github/workflows/identity-key-drift-check.yml
  PARITY_CONTRACT.md
  docs/PARITY_CONTRACT.md
  docs/reports/README.md
  docs/reports/cloud-run-runtime-audit-2026-02-27-remediated.md
  docs/reports/cloud-run-runtime-audit-2026-02-27.md
  docs/reports/pre-prod-readiness-2026-02-27.md
  docs/reports/url-health-2026-02-27.md
  docs/runbooks/deploy-release-sop.md
  docs/stage-release-architecture.md
  docs/stage-rollback-runbook.md
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/stage/main.tf
  ops/identity-keys/README.md
  ops/identity-keys/browser-auth-policy.public.json
  scripts/apply_identity_key_policy.sh
  scripts/check_identity_key_drift.sh
  scripts/check_run_parity.sh
Due: gcp-deploy-guard, enforce-test-email-domain

chore: remediate runtime drift and harden promotion gates (#66) (#68)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  .github/workflows/identity-key-drift-check.yml
  PARITY_CONTRACT.md
  docs/PARITY_CONTRACT.md
  docs/reports/README.md
  docs/reports/cloud-run-runtime-audit-2026-02-27-remediated.md
  docs/reports/cloud-run-runtime-audit-2026-02-27.md
  docs/reports/pre-prod-readiness-2026-02-27.md
  docs/reports/url-health-2026-02-27.md
  docs/runbooks/deploy-release-sop.md
  docs/stage-release-architecture.md
  docs/stage-rollback-runbook.md
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/stage/main.tf
  ops/identity-keys/README.md
  ops/identity-keys/browser-auth-policy.public.json
  scripts/apply_identity_key_policy.sh
  scripts/check_identity_key_drift.sh
  scripts/check_run_parity.sh
Due: gcp-deploy-guard, enforce-test-email-domain

chore: finalize light theme and shell layout refinements
  frontend-app/src/components/AnimatedBrandText.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/pages/Dashboard.tsx
  frontend-app/src/styles/index.css
Due: frontend-app-lint, frontend-app-typecheck

fix(stage-promotion): add missing glass shell components
  frontend-app/src/components/layout/GalaxyWaveBackground.tsx
  frontend-app/src/components/ui/GlassCard.tsx
Due: frontend-app-lint, frontend-app-typecheck

ci(stage): load browser key from stage Secret Manager (#34)
  .github/workflows/deploy-stage.yml
Due: none

ci(stage): enable PR checks + drift guard coverage [skip ci]
  .github/workflows/ci.yml
  .github/workflows/gcp-drift-check.yml
Due: none

test(dashboard): disambiguate net worth assertion
  frontend-app/src/tests/integration/dashboard.test.tsx
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

fix(stage-deploy): install gcloud beta component before no-iap step (#45)
  .github/workflows/deploy-stage.yml
Due: none

fix(ci): make identity drift guard resilient to missing PR WIF secrets
  .github/workflows/identity-key-drift-check.yml
Due: none
