Repository intellifide/JuaLuma-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

backend-pytest:
  name: backend-pytest
  entry: bash -c 'cd backend && DATABASE_URL=sqlite:///./test.db pytest -q'
  language: system
  pass_filenames: false

frontend-app-lint:
  name: frontend-app-lint
  entry: bash -c 'cd frontend-app && npm run lint'
  language: system
  pass_filenames: false

frontend-app-typecheck:
  name: frontend-app-typecheck
  entry: bash -c 'cd frontend-app && npx tsc --noEmit'
  language: system
  pass_filenames: false

gcp-deploy-guard:
  name: gcp-deploy-guard
  entry: bash scripts/check_gcp_drift.sh
  language: system
  pass_filenames: false

enforce-test-email-domain:
  name: enforce-test-email-domain
  entry: bash scripts/enforce_test_email_domain.sh
  language: system
  pass_filenames: false

Promote Dev to stage: domain-only prod entrypoint policy (#79)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  docs/PARITY_CONTRACT.md
  docs/compliance/access-allowlist/jualuma-dev.allowlist
  docs/compliance/access-allowlist/jualuma-prod.allowlist
Due: gcp-deploy-guard

fix(ci): tolerate org-policy-blocked backup principal
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

fix(ci): tolerate org-policy-blocked backup principal (#80)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

Promote Dev to stage: allowlist org-policy compatibility (#83)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

Promote stage to main: access posture and org-policy compatibility (#85)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  docs/PARITY_CONTRACT.md
  docs/compliance/access-allowlist/jualuma-dev.allowlist
  docs/compliance/access-allowlist/jualuma-prod.allowlist
  docs/runbooks/deploy-release-sop.md
  docs/stage-promotion-gates.md
  scripts/check_run_parity.sh
Due: gcp-deploy-guard, enforce-test-email-domain

chore(access): remove personal Gmail backup from allowlists
  docs/PARITY_CONTRACT.md
  docs/compliance/access-allowlist/jualuma-dev.allowlist
  docs/compliance/access-allowlist/jualuma-prod.allowlist
Due: none

chore(access): remove personal Gmail backup from allowlists (#86)
  docs/PARITY_CONTRACT.md
  docs/compliance/access-allowlist/jualuma-dev.allowlist
  docs/compliance/access-allowlist/jualuma-prod.allowlist
Due: none

fix(access): restore IAP browser login for dev/stage web services
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

fix(access): restore IAP browser login for dev/stage web services (#89)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

fix(ci): fail backend probe when IAP header is present
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

promote: Dev to stage after conflict resolution (#91)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

fix(access): purge legacy principal and align dev-stage auth posture
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
  docs/PARITY_CONTRACT.md
  docs/compliance/access-allowlist/jualuma-dev.allowlist
  docs/compliance/access-allowlist/jualuma-prod.allowlist
  docs/incidents/2026-02-28-dev-stage-auth-posture-breakglass.md
  docs/reports/cloud-run-runtime-audit-2026-02-28.md
Due: gcp-deploy-guard

fix(access): purge legacy principal and align dev-stage auth posture (#92)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
  docs/PARITY_CONTRACT.md
  docs/compliance/access-allowlist/jualuma-dev.allowlist
  docs/compliance/access-allowlist/jualuma-prod.allowlist
  docs/incidents/2026-02-28-dev-stage-auth-posture-breakglass.md
  docs/reports/cloud-run-runtime-audit-2026-02-28.md
Due: gcp-deploy-guard

fix(auth): align deploy checks with public health and IAP manifest fetch
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
  frontend-app/index.html
Due: gcp-deploy-guard

fix(auth): stabilize dev/stage auth verification and IAP manifest behavior (#93)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
  frontend-app/index.html
Due: gcp-deploy-guard

fix(auth): align stage promotion workflow with IAP web + app-layer backend
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

fix(auth): enforce IAP on web shells in main promotion workflows
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

Web UI overhaul snapshot without Code Connect
  docs/web-ui-figma-contract.md
  docs/web-ui-figma-manual-sync.md
  docs/web-ui-motion-usage-map.md
  docs/web-ui-overhaul-evidence.md
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/components/ChatMessage.tsx
  frontend-app/src/components/ThemeToggle.tsx
  frontend-app/src/components/tests/ChatMessage.test.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/pages/AIAssistant.tsx
  frontend-app/src/services/gcp_auth_driver.ts
  frontend-app/src/setupTests.ts
  frontend-app/src/styles/index.css
  frontend-app/src/tests/integration/ai.test.tsx
  frontend-marketing/src/app/page.tsx
  frontend-marketing/src/lib/motion.tsx
  frontend-marketing/src/setupTests.ts
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

docs(webux): refresh hosted stage QA evidence and blocker state
  docs/web-ui-overhaul-evidence.md
Due: none

WEBUX: forward-port full web UI overhaul to latest Dev (#98)
  docs/web-ui-figma-contract.md
  docs/web-ui-figma-manual-sync.md
  docs/web-ui-motion-usage-map.md
  docs/web-ui-overhaul-evidence.md
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/components/ChatMessage.tsx
  frontend-app/src/components/ThemeToggle.tsx
  frontend-app/src/components/tests/ChatMessage.test.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/pages/AIAssistant.tsx
  frontend-app/src/services/gcp_auth_driver.ts
  frontend-app/src/setupTests.ts
  frontend-app/src/styles/index.css
  frontend-app/src/tests/integration/ai.test.tsx
  frontend-marketing/src/app/page.tsx
  frontend-marketing/src/lib/motion.tsx
  frontend-marketing/src/setupTests.ts
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

promote: Dev to stage parity for WEBUX rollout (#99)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
  docs/PARITY_CONTRACT.md
  docs/compliance/access-allowlist/jualuma-dev.allowlist
  docs/compliance/access-allowlist/jualuma-prod.allowlist
  docs/incidents/2026-02-28-dev-stage-auth-posture-breakglass.md
  docs/reports/cloud-run-runtime-audit-2026-02-28.md
  docs/web-ui-figma-contract.md
  docs/web-ui-figma-manual-sync.md
  docs/web-ui-motion-usage-map.md
  docs/web-ui-overhaul-evidence.md
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/components/ChatMessage.tsx
  frontend-app/src/components/ThemeToggle.tsx
  frontend-app/src/components/tests/ChatMessage.test.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/pages/AIAssistant.tsx
  frontend-app/src/services/gcp_auth_driver.ts
  frontend-app/src/setupTests.ts
  frontend-app/src/styles/index.css
  frontend-app/src/tests/integration/ai.test.tsx
  frontend-marketing/src/app/page.tsx
  frontend-marketing/src/lib/motion.tsx
  frontend-marketing/src/setupTests.ts
Due: frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

fix(ui): refine assistant thinking state and light-mode readability
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/pages/AIAssistant.tsx
  frontend-app/src/styles/index.css
Due: frontend-app-lint, frontend-app-typecheck

fix(ai): target correct assistant message on stream error
  frontend-app/src/pages/AIAssistant.tsx
Due: frontend-app-lint, frontend-app-typecheck

test(ai): assert single error assistant bubble by content
  frontend-app/src/tests/integration/ai.test.tsx
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

fix(ui): refine assistant thinking state and light-mode readability (#100)
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/pages/AIAssistant.tsx
  frontend-app/src/styles/index.css
  frontend-app/src/tests/integration/ai.test.tsx
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

promote: resolve stage-to-main parity for web UX rollout (#102)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
  docs/PARITY_CONTRACT.md
  docs/incidents/2026-02-28-dev-stage-auth-posture-breakglass.md
  docs/reports/cloud-run-runtime-audit-2026-02-28.md
  docs/web-ui-figma-contract.md
  docs/web-ui-figma-manual-sync.md
  docs/web-ui-motion-usage-map.md
  docs/web-ui-overhaul-evidence.md
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/components/ChatMessage.tsx
  frontend-app/src/components/ThemeToggle.tsx
  frontend-app/src/components/tests/ChatMessage.test.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/pages/AIAssistant.tsx
  frontend-app/src/services/gcp_auth_driver.ts
  frontend-app/src/setupTests.ts
  frontend-app/src/styles/index.css
  frontend-app/src/tests/integration/ai.test.tsx
  frontend-marketing/src/app/page.tsx
  frontend-marketing/src/lib/motion.tsx
  frontend-marketing/src/setupTests.ts
Due: frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

Path conditions:
  backend-pytest: any of: ^backend/.*
  frontend-app-lint: any of: ^frontend-app/.*\.tsx?$
  frontend-app-typecheck: any of: ^frontend-app/.*\.tsx?$
  gcp-deploy-guard: any of: ^\.github/workflows/deploy-(dev|prod)\.yml$
  enforce-test-email-domain: any of: ^(backend/tests/|frontend-app/src/tests/|tests/|scripts/).*
