Repository intellifide/JuaLuma-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

backend-pytest:
  name: backend-pytest
  entry: bash -c 'cd backend && DATABASE_URL=sqlite:///./test.db pytest -q'
  language: system
  pass_filenames: false

frontend-app-lint:
  name: frontend-app-lint
  entry: bash -c 'cd frontend-app && npm run lint'
  language: system
  pass_filenames: false

frontend-app-typecheck:
  name: frontend-app-typecheck
  entry: bash -c 'cd frontend-app && npx tsc --noEmit'
  language: system
  pass_filenames: false

gcp-deploy-guard:
  name: gcp-deploy-guard
  entry: bash scripts/check_gcp_drift.sh
  language: system
  pass_filenames: false

enforce-test-email-domain:
  name: enforce-test-email-domain
  entry: bash scripts/enforce_test_email_domain.sh
  language: system
  pass_filenames: false

chore(deploy): enforce PLAID_ENV=production across dev stage prod (#29)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

ci(stage): use stage Secret Manager browser key [skip ci]
  .github/workflows/deploy-stage.yml
Due: none

ci(stage): use stage Secret Manager browser key [skip ci] (#32)
  .github/workflows/deploy-stage.yml
Due: none

ci(stage): load browser key from stage Secret Manager
  .github/workflows/deploy-stage.yml
Due: none

ci(stage): load browser key from stage Secret Manager (#34)
  .github/workflows/deploy-stage.yml
Due: none

ci(stage): enable PR checks + drift guard coverage
  .github/workflows/ci.yml
  .github/workflows/gcp-drift-check.yml
Due: none

ci(stage): enable PR checks + drift guard coverage [skip ci]
  .github/workflows/ci.yml
  .github/workflows/gcp-drift-check.yml
Due: none

security(ci): add public-safe identity key drift guard [skip ci]
  .github/workflows/identity-key-drift-check.yml
  ops/identity-keys/README.md
  ops/identity-keys/browser-auth-policy.public.json
  scripts/check_identity_key_drift.sh
Due: enforce-test-email-domain

security(ci): add public-safe identity key drift guard [skip ci] (#38)
  .github/workflows/identity-key-drift-check.yml
  ops/identity-keys/README.md
  ops/identity-keys/browser-auth-policy.public.json
  scripts/check_identity_key_drift.sh
Due: enforce-test-email-domain

chore(marketing): add redesign verification artifacts
  .codex-artifacts/marketing-after-desktop-1365x768-dark.png
  .codex-artifacts/marketing-current-768x1366.png
  .codex-artifacts/marketing-current-fullpage.png
  .codex-artifacts/marketing-desktop-after-preview-fix.png
  .codex-artifacts/marketing-redesign-20260224/desktop-1365x768-after-light.png
  .codex-artifacts/marketing-redesign-20260224/desktop-1365x768-before-dark.png
  .codex-artifacts/marketing-redesign-20260224/desktop-1536x864-after-light.png
  .codex-artifacts/marketing-redesign-20260224/desktop-1536x864-before-dark.png
  .codex-artifacts/marketing-redesign-20260224/mobile-393x852-after-light-menu-closed.png
  .codex-artifacts/marketing-redesign-20260224/mobile-393x852-after-light-menu-open.png
  .codex-artifacts/marketing-redesign-20260224/mobile-393x852-before-dark-menu-closed.png
  .codex-artifacts/marketing-redesign-20260224/mobile-393x852-before-dark-menu-open.png
  .codex-artifacts/marketing-redesign-20260224/mobile-430x932-after-light-menu-closed.png
  .codex-artifacts/marketing-redesign-20260224/mobile-430x932-after-light-menu-open.png
  .codex-artifacts/marketing-redesign-20260224/mobile-430x932-before-dark-menu-closed.png
  .codex-artifacts/marketing-redesign-20260224/mobile-430x932-before-dark-menu-open.png
  .codex-artifacts/marketing-redesign-current.png
  .codex-artifacts/marketing-redesign-local.png
  .codex-artifacts/marketing-redesign-verify.png
  frontend-marketing/.codex-artifacts/marketing-desktop-1365-light-final.png
  frontend-marketing/.codex-artifacts/marketing-desktop-1365-light.png
  frontend-marketing/.codex-artifacts/marketing-desktop-1536-light-final.png
  frontend-marketing/.codex-artifacts/marketing-desktop-1536-light.png
  frontend-marketing/.codex-artifacts/marketing-mobile-393x852-light-final.png
  frontend-marketing/.codex-artifacts/marketing-mobile-393x852-light.png
  frontend-marketing/.codex-artifacts/marketing-mobile-393x852-menu-open-final.png
  frontend-marketing/.codex-artifacts/marketing-mobile-430x932-light-final.png
  frontend-marketing/.codex-artifacts/marketing-mobile-430x932-light.png
  frontend-marketing/.codex-artifacts/nav-snapshot.txt
  tmp-marketing-current-desktop.png
Due: none

feat(marketing): finalize revamp updates
  frontend-marketing/marketing-redesign-local.png
  frontend-marketing/src/app/globals.css
  frontend-marketing/src/app/layout.tsx
  frontend-marketing/src/app/page.tsx
  frontend-marketing/src/components/Footer.tsx
  frontend-marketing/src/components/Navbar.tsx
  frontend-marketing/src/components/ThemeInitializer.tsx
  frontend-marketing/src/components/ThemeToggle.tsx
Due: none

chore(git): add repo-tracked branch safety workflow
  .githooks/pre-push
  .github/workflows/branch-case-policy.yml
  README.md
  scripts/bootstrap-git-workflow.sh
  scripts/check-branch-case-collision.sh
Due: enforce-test-email-domain

fix: type footer items for marketing build
  frontend-marketing/src/components/Footer.tsx
Due: none

ci: allow emergency prod dispatch metadata
  .github/workflows/deploy-prod.yml
Due: gcp-deploy-guard

feat: update marketing experience and legal URL routing
  frontend-app/src/components/CookieConsentBanner.tsx
  frontend-app/src/components/Footer.tsx
  frontend-app/src/components/Navigation.tsx
  frontend-app/src/pages/PricingRedirect.tsx
  frontend-app/src/pages/Settings.tsx
  frontend-app/src/pages/Signup.tsx
  frontend-app/src/pages/developers/DeveloperAuth.tsx
  frontend-app/src/utils/marketing.ts
  frontend-marketing/package-lock.json
  frontend-marketing/package.json
  frontend-marketing/src/app/globals.css
  frontend-marketing/src/app/legal/license/page.tsx
  frontend-marketing/src/app/page.tsx
  frontend-marketing/src/components/Navbar.tsx
Due: frontend-app-lint, frontend-app-typecheck

fix(ci): guard marketing hostname resolution in tests
  frontend-app/src/utils/marketing.ts
Due: frontend-app-lint, frontend-app-typecheck

frontend: normalize auth 401 errors to safe user messages
  frontend-app/src/services/api.ts
  frontend-app/src/services/auth.ts
Due: frontend-app-lint, frontend-app-typecheck

ci(dev): enforce public Cloud Run access and block iap interception
  .github/workflows/deploy-dev.yml
Due: gcp-deploy-guard

ci(dev): enforce allUsers invoker binding for web services
  .github/workflows/deploy-dev.yml
Due: gcp-deploy-guard

ci(dev): disable iap on web backend services via neg mapping
  .github/workflows/deploy-dev.yml
Due: gcp-deploy-guard

ci(dev): disable iap by backend-service list to avoid neg permission
  .github/workflows/deploy-dev.yml
Due: gcp-deploy-guard

ci(dev): disable cloud run iap directly for web services
  .github/workflows/deploy-dev.yml
Due: gcp-deploy-guard

ci(dev): install gcloud beta component for no-iap update
  .github/workflows/deploy-dev.yml
Due: gcp-deploy-guard

ci(dev): allow expected html on web shell checks
  .github/workflows/deploy-dev.yml
Due: gcp-deploy-guard

Fix OTP delivery handling and dev Gmail keyless incident backfill
  backend/api/auth.py
  backend/main.py
  backend/services/email.py
  backend/tests/test_auth.py
  docs/PARITY_CONTRACT.md
  docs/incidents/2026-02-25-dev-otp-gmail-keyless-breakglass.md
  frontend-app/src/services/auth.ts
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

Fix AI quota fallback and add settings upgrade CTA
  backend/services/ai.py
  frontend-app/src/pages/Settings.tsx
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck

Fix missing useMemo import in settings page
  frontend-app/src/pages/Settings.tsx
Due: frontend-app-lint, frontend-app-typecheck

Enable selectable upgrades and one-time trial enforcement
  alembic/versions/4e8b2f1c9a7d_add_trial_redemptions_table.py
  backend/api/billing.py
  backend/models/__init__.py
  backend/models/trial_redemption.py
  backend/services/billing.py
  backend/tests/test_billing_checkout.py
  frontend-app/src/pages/Settings.tsx
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

Fix AI assistant stream auth and chat UI regressions
  backend/services/ai.py
  backend/tests/test_gcp_credentials.py
  backend/utils/firestore.py
  backend/utils/gcp_credentials.py
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/pages/AIAssistant.tsx
  frontend-app/src/tests/integration/ai.test.tsx
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

Fix Terraform validate by replacing trim with trimspace
  infra/modules/cloud-run/main.tf
  infra/modules/cloud-sql/main.tf
Due: none

Stabilize Terraform CI auth path and include pending updates
  .env.example
  .github/workflows/terraform-ci.yml
  frontend-app/src/hooks/useAuth.tsx
Due: frontend-app-lint, frontend-app-typecheck

feat(frontend): refresh shell visuals and sidebar interactions
  frontend-app/src/components/layout/GalaxyWaveBackground.tsx
  frontend-app/src/components/ui/GlassCard.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/pages/Dashboard.tsx
  frontend-app/src/styles/index.css
  frontend-app/src/styles/theme.css
  frontend-app/tailwind.config.js
Due: frontend-app-lint, frontend-app-typecheck

fix(dev-deploy): use deployed frontend URL for marketing app links
  .github/workflows/deploy-dev.yml
Due: gcp-deploy-guard

perf: reduce shell render load and harden db pooling
  backend/core/config.py
  backend/models/base.py
  frontend-app/src/components/layout/GalaxyWaveBackground.tsx
  frontend-app/src/services/analytics.ts
  frontend-app/src/styles/index.css
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck

feat: finalize document upload, AI context, and legal/email policy updates
  .env.example
  LICENSE
  README.md
  backend/api/ai.py
  backend/api/documents.py
  backend/services/email.py
  backend/services/financial_context.py
  backend/tests/test_ai.py
  backend/tests/test_documents.py
  backend/tests/test_financial_context_documents.py
  docs/legal/Privacy-Policy.md
  docs/legal/Source-Available-License.md
  docs/legal/Terms-of-Service.md
  docs/runbooks/email-sender-policy.md
  frontend-app/README.md
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/pages/AIAssistant.tsx
  frontend-app/src/services/aiService.ts
  frontend-app/src/services/documentService.ts
  frontend-app/src/utils/fileIconMapping.ts
  frontend-marketing/README.md
  frontend-marketing/src/app/legal/license/page.tsx
  frontend-marketing/src/app/legal/privacy/page.tsx
  frontend-marketing/src/app/legal/terms/page.tsx
  support-portal/README.md
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

Path conditions:
  backend-pytest: any of: ^backend/.*
  frontend-app-lint: any of: ^frontend-app/.*\.tsx?$
  frontend-app-typecheck: any of: ^frontend-app/.*\.tsx?$
  gcp-deploy-guard: any of: ^\.github/workflows/deploy-(dev|prod)\.yml$
  enforce-test-email-domain: any of: ^(backend/tests/|frontend-app/src/tests/|tests/|scripts/).*
