Repository intellifide/JuaLuma-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pytest
        name: backend-pytest
        entry: bash -c 'cd backend && DATABASE_URL=sqlite:///./test.db pytest -q'
        language: system
        files: ^backend/.*
        pass_filenames: false

      - id: frontend-app-lint
        name: frontend-app-lint
        entry: bash -c 'cd frontend-app && npm run lint'
        language: system
        files: ^frontend-app/.*\.tsx?$
        pass_filenames: false

      - id: frontend-app-typecheck
        name: frontend-app-typecheck
        entry: bash -c 'cd frontend-app && npx tsc --noEmit'
        language: system
        files: ^frontend-app/.*\.tsx?$
        pass_filenames: false

      - id: gcp-deploy-guard
        name: gcp-deploy-guard
        entry: bash scripts/check_gcp_drift.sh
        language: system
        files: ^\.github/workflows/deploy-(dev|prod)\.yml$
        pass_filenames: false

      - id: enforce-test-email-domain
        name: enforce-test-email-domain
        entry: bash scripts/enforce_test_email_domain.sh
        language: system
        files: ^(backend/tests/|frontend-app/src/tests/|tests/|scripts/).*
        pass_filenames: false

fix(deploy): enforce runtime service URLs for dev/stage app routing
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

Fix signup 429 starvation and update marketing AI insight copy
  backend/api/auth.py
  backend/main.py
  backend/middleware/security.py
  backend/tests/test_auth.py
  backend/tests/test_security_middleware.py
  frontend-marketing/src/app/page.tsx
Due: backend-pytest, enforce-test-email-domain

fix(auth): stop profile request storms on login and verify-email
  frontend-app/src/hooks/useAuth.tsx
  frontend-app/src/services/auth.ts
  frontend-app/src/services/gcp_auth_driver.ts
  frontend-app/src/tests/integration/useAuthRateLimit.test.tsx
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

feat: finalize pending frontend and backend updates
  backend/core/legal.py
  backend/scripts/e2e_ultimate_signup_test.py
  backend/tests/e2e_ultimate_full_verification.py
  backend/tests/test_auth.py
  frontend-app/src/components/layout/GalaxyWaveBackground.tsx
  frontend-app/src/components/ui/PasswordInput.tsx
  frontend-app/src/constants/legal.ts
  frontend-app/src/pages/ConnectAccounts.tsx
  frontend-app/src/pages/Dashboard.tsx
  frontend-app/src/pages/Login.tsx
  frontend-app/src/pages/ResetPassword.tsx
  frontend-app/src/pages/Settings.tsx
  frontend-app/src/pages/Signup.tsx
  frontend-app/src/pages/developers/DeveloperAuth.tsx
  frontend-app/src/styles/index.css
  frontend-app/src/tests/integration/auth.test.tsx
  frontend-app/src/tests/signupFlow.test.ts
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

chore: finalize light theme and shell layout refinements
  frontend-app/src/components/AnimatedBrandText.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/pages/Dashboard.tsx
  frontend-app/src/styles/index.css
  frontend-marketing/marketing-redesign-local.png
Due: frontend-app-lint, frontend-app-typecheck

test(dashboard): disambiguate net worth assertion
  frontend-app/src/tests/integration/dashboard.test.tsx
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

chore: finalize light theme and shell layout refinements
  frontend-app/src/components/AnimatedBrandText.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/pages/Dashboard.tsx
  frontend-app/src/styles/index.css
Due: frontend-app-lint, frontend-app-typecheck

fix(stage-promotion): add missing glass shell components
  frontend-app/src/components/layout/GalaxyWaveBackground.tsx
  frontend-app/src/components/ui/GlassCard.tsx
Due: frontend-app-lint, frontend-app-typecheck

fix(ci): make identity drift guard resilient to missing PR WIF secrets
  .github/workflows/identity-key-drift-check.yml
Due: none

chore(ci): backport identity drift guard auth fallback to Dev
  .github/workflows/identity-key-drift-check.yml
Due: none

fix: sync auth page theme and refine light-mode shell
  frontend-app/src/hooks/useTheme.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/styles/index.css
  frontend-marketing/src/app/developers/page.tsx
  frontend-marketing/src/app/features/page.tsx
  frontend-marketing/src/app/page.tsx
  frontend-marketing/src/app/pricing/page.tsx
  frontend-marketing/src/app/support/page.tsx
  frontend-marketing/src/components/AppAuthLink.tsx
  frontend-marketing/src/components/Navbar.tsx
  frontend-marketing/src/components/ThemeToggle.tsx
Due: frontend-app-lint, frontend-app-typecheck

chore(stage): sync stage frontend parity with Dev
  frontend-app/src/hooks/useTheme.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/styles/index.css
  frontend-marketing/src/app/developers/page.tsx
  frontend-marketing/src/app/features/page.tsx
  frontend-marketing/src/app/page.tsx
  frontend-marketing/src/app/pricing/page.tsx
  frontend-marketing/src/app/support/page.tsx
  frontend-marketing/src/components/AppAuthLink.tsx
  frontend-marketing/src/components/Navbar.tsx
  frontend-marketing/src/components/ThemeToggle.tsx
Due: frontend-app-lint, frontend-app-typecheck

chore(stage): sync stage frontend parity with Dev (#43)
  frontend-app/src/hooks/useTheme.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/styles/index.css
  frontend-marketing/src/app/developers/page.tsx
  frontend-marketing/src/app/features/page.tsx
  frontend-marketing/src/app/page.tsx
  frontend-marketing/src/app/pricing/page.tsx
  frontend-marketing/src/app/support/page.tsx
  frontend-marketing/src/components/AppAuthLink.tsx
  frontend-marketing/src/components/Navbar.tsx
  frontend-marketing/src/components/ThemeToggle.tsx
Due: frontend-app-lint, frontend-app-typecheck

fix: avoid forcing dark theme on auth links
  frontend-marketing/src/components/AppAuthLink.tsx
Due: none

fix(stage-deploy): enforce public access posture and iap guard
  .github/workflows/deploy-stage.yml
Due: none

chore: stop tracking codex artifacts and ignore them
  .codex-artifacts/marketing-after-desktop-1365x768-dark.png
  .codex-artifacts/marketing-current-768x1366.png
  .codex-artifacts/marketing-current-fullpage.png
  .codex-artifacts/marketing-desktop-after-preview-fix.png
  .codex-artifacts/marketing-redesign-20260224/desktop-1365x768-after-light.png
  .codex-artifacts/marketing-redesign-20260224/desktop-1365x768-before-dark.png
  .codex-artifacts/marketing-redesign-20260224/desktop-1536x864-after-light.png
  .codex-artifacts/marketing-redesign-20260224/desktop-1536x864-before-dark.png
  .codex-artifacts/marketing-redesign-20260224/mobile-393x852-after-light-menu-closed.png
  .codex-artifacts/marketing-redesign-20260224/mobile-393x852-after-light-menu-open.png
  .codex-artifacts/marketing-redesign-20260224/mobile-393x852-before-dark-menu-closed.png
  .codex-artifacts/marketing-redesign-20260224/mobile-393x852-before-dark-menu-open.png
  .codex-artifacts/marketing-redesign-20260224/mobile-430x932-after-light-menu-closed.png
  .codex-artifacts/marketing-redesign-20260224/mobile-430x932-after-light-menu-open.png
  .codex-artifacts/marketing-redesign-20260224/mobile-430x932-before-dark-menu-closed.png
  .codex-artifacts/marketing-redesign-20260224/mobile-430x932-before-dark-menu-open.png
  .codex-artifacts/marketing-redesign-current.png
  .codex-artifacts/marketing-redesign-local.png
  .codex-artifacts/marketing-redesign-verify.png
  .gitignore
  frontend-marketing/.codex-artifacts/marketing-desktop-1365-light-final.png
  frontend-marketing/.codex-artifacts/marketing-desktop-1365-light.png
  frontend-marketing/.codex-artifacts/marketing-desktop-1536-light-final.png
  frontend-marketing/.codex-artifacts/marketing-desktop-1536-light.png
  frontend-marketing/.codex-artifacts/marketing-mobile-393x852-light-final.png
  frontend-marketing/.codex-artifacts/marketing-mobile-393x852-light.png
  frontend-marketing/.codex-artifacts/marketing-mobile-393x852-menu-open-final.png
  frontend-marketing/.codex-artifacts/marketing-mobile-430x932-light-final.png
  frontend-marketing/.codex-artifacts/marketing-mobile-430x932-light.png
  frontend-marketing/.codex-artifacts/nav-snapshot.txt
Due: none

fix(marketing): prefer active theme state over query param
  frontend-marketing/src/components/AppAuthLink.tsx
Due: none

Promote Dev to stage (through a757d8e) (#44)
  .github/workflows/deploy-stage.yml
  frontend-marketing/src/components/AppAuthLink.tsx
Due: none

fix(stage-deploy): install gcloud beta component before no-iap step
  .github/workflows/deploy-stage.yml
Due: none

fix(stage-deploy): install gcloud beta component before no-iap step (#45)
  .github/workflows/deploy-stage.yml
Due: none

fix(stage): stabilize ai streaming, timezone, and deploy guards
  .github/workflows/deploy-stage.yml
  backend/services/ai.py
  frontend-app/src/components/ChatMessage.tsx
  frontend-app/src/components/tests/ChatMessage.test.tsx
  frontend-app/src/pages/AIAssistant.tsx
  infra/envs/stage/main.tf
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck

fix(ci): satisfy ruff and terraform fmt for stage ai fixes
  backend/services/ai.py
  infra/envs/stage/main.tf
Due: backend-pytest

fix(ai): enforce free-tier model policy, improve upload UX, and normalize user-facing errors
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  backend/services/ai.py
  backend/tests/test_ai.py
  frontend-app/src/components/AIPrivacyModal.tsx
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/services/aiService.ts
  frontend-app/src/services/api.ts
  frontend-app/src/services/apiErrorMessages.test.ts
  frontend-app/src/services/apiErrorMessages.ts
  frontend-app/src/services/auth.ts
  frontend-app/src/styles/index.css
  scripts/docker/nginx_spa.conf.template
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

fix(ci): satisfy Ruff UP038 in ai service
  backend/services/ai.py
Due: backend-pytest

fix(ci): correct async generator typing in ai stream
  backend/services/ai.py
Due: backend-pytest

fix(cd): stop clobbering AI model env var bindings
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

fix(stage-cd): make API enablement check permission-aware
  .github/workflows/deploy-stage.yml
Due: none

docs(license): replace short-form notices with full PolyForm text [skip ci]
  LICENSE
  docs/legal/Source-Available-License.md
  docs/legal/Terms-of-Service.md
Due: none

fix(stage-cd): tolerate serviceusage list permission limits
  .github/workflows/deploy-stage.yml
Due: none

fix(stage-cd): tolerate serviceusage list permission limits (#52)
  .github/workflows/deploy-stage.yml
Due: none

fix(stage-cd): install gcloud beta before no-iap updates
  .github/workflows/deploy-stage.yml
Due: none

fix(stage-cd): install gcloud beta before no-iap updates (#53)
  .github/workflows/deploy-stage.yml
Due: none
