Repository intellifide/JuaLuma-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pytest
        name: backend-pytest
        entry: bash -c 'cd backend && DATABASE_URL=sqlite:///./test.db pytest -q'
        language: system
        files: ^backend/.*
        pass_filenames: false

      - id: frontend-app-lint
        name: frontend-app-lint
        entry: bash -c 'cd frontend-app && npm run lint'
        language: system
        files: ^frontend-app/.*\.tsx?$
        pass_filenames: false

      - id: frontend-app-typecheck
        name: frontend-app-typecheck
        entry: bash -c 'cd frontend-app && npx tsc --noEmit'
        language: system
        files: ^frontend-app/.*\.tsx?$
        pass_filenames: false

      - id: gcp-deploy-guard
        name: gcp-deploy-guard
        entry: bash scripts/check_gcp_drift.sh
        language: system
        files: ^\.github/workflows/deploy-(dev|prod)\.yml$
        pass_filenames: false

      - id: enforce-test-email-domain
        name: enforce-test-email-domain
        entry: bash scripts/enforce_test_email_domain.sh
        language: system
        files: ^(backend/tests/|frontend-app/src/tests/|tests/|scripts/).*
        pass_filenames: false

fix(dev): restore marketing pricing, global AI doc retrieval, and OTP noreply sender
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
  backend/api/ai.py
  backend/core/config.py
  backend/services/email.py
  backend/services/financial_context.py
  backend/tests/test_email_sender_identity.py
  backend/tests/test_financial_context_documents.py
  frontend-app/src/pages/PlanSelection.tsx
  frontend-app/src/pages/tests/PlanSelection.badge.test.tsx
  frontend-marketing/package-lock.json
  frontend-marketing/package.json
  frontend-marketing/src/app/pricing/page.test.tsx
  frontend-marketing/src/app/pricing/page.tsx
  frontend-marketing/src/components/AppAuthLink.tsx
  frontend-marketing/src/setupTests.ts
  frontend-marketing/vitest.config.ts
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

fix(billing): prevent paid checkout/profile failures (#54)
  backend/api/auth.py
  backend/api/billing.py
  backend/services/billing.py
  backend/tests/test_auth.py
  backend/tests/test_billing_checkout.py
Due: backend-pytest, enforce-test-email-domain

Promote Dev to stage (through a757d8e) (#44)
  .github/workflows/deploy-stage.yml
  frontend-marketing/src/components/AppAuthLink.tsx
Due: none

fix(stage-cd): tolerate serviceusage list permission limits (#52)
  .github/workflows/deploy-stage.yml
Due: none

fix(plan-selection): force visible overflow for popular badge (#65)
  frontend-app/src/pages/PlanSelection.tsx
  frontend-app/src/pages/tests/PlanSelection.badge.test.tsx
Due: frontend-app-lint, frontend-app-typecheck

chore(stage): sync stage frontend parity with Dev (#43)
  frontend-app/src/hooks/useTheme.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/styles/index.css
  frontend-marketing/src/app/developers/page.tsx
  frontend-marketing/src/app/features/page.tsx
  frontend-marketing/src/app/page.tsx
  frontend-marketing/src/app/pricing/page.tsx
  frontend-marketing/src/app/support/page.tsx
  frontend-marketing/src/components/AppAuthLink.tsx
  frontend-marketing/src/components/Navbar.tsx
  frontend-marketing/src/components/ThemeToggle.tsx
Due: frontend-app-lint, frontend-app-typecheck

docs(license): replace short-form notices with full PolyForm text
  LICENSE
  docs/legal/Source-Available-License.md
  docs/legal/Terms-of-Service.md
Due: none

fix(stage-cd): install gcloud beta before no-iap updates (#53)
  .github/workflows/deploy-stage.yml
Due: none

ci(stage): enable PR checks + drift guard coverage [skip ci]
  .github/workflows/ci.yml
  .github/workflows/gcp-drift-check.yml
Due: none

chore: finalize light theme and shell layout refinements
  frontend-app/src/components/AnimatedBrandText.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/pages/Dashboard.tsx
  frontend-app/src/styles/index.css
Due: frontend-app-lint, frontend-app-typecheck

fix(stage-deploy): install gcloud beta component before no-iap step (#45)
  .github/workflows/deploy-stage.yml
Due: none

chore: remediate runtime drift and harden promotion gates (#66) (#68)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  .github/workflows/identity-key-drift-check.yml
  PARITY_CONTRACT.md
  docs/PARITY_CONTRACT.md
  docs/reports/README.md
  docs/reports/cloud-run-runtime-audit-2026-02-27-remediated.md
  docs/reports/cloud-run-runtime-audit-2026-02-27.md
  docs/reports/pre-prod-readiness-2026-02-27.md
  docs/reports/url-health-2026-02-27.md
  docs/runbooks/deploy-release-sop.md
  docs/stage-release-architecture.md
  docs/stage-rollback-runbook.md
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/stage/main.tf
  ops/identity-keys/README.md
  ops/identity-keys/browser-auth-policy.public.json
  scripts/apply_identity_key_policy.sh
  scripts/check_identity_key_drift.sh
  scripts/check_run_parity.sh
Due: gcp-deploy-guard, enforce-test-email-domain

test(dashboard): disambiguate net worth assertion
  frontend-app/src/tests/integration/dashboard.test.tsx
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

chore(stage): promote Dev email scope gating fix (f9600db) (#64)
  backend/services/email.py
  backend/tests/test_email_sender_identity.py
Due: backend-pytest, enforce-test-email-domain

fix(ci): make identity drift guard resilient to missing PR WIF secrets
  .github/workflows/identity-key-drift-check.yml
Due: none

ci(stage): load browser key from stage Secret Manager (#34)
  .github/workflows/deploy-stage.yml
Due: none

fix(stage-promotion): add missing glass shell components
  frontend-app/src/components/layout/GalaxyWaveBackground.tsx
  frontend-app/src/components/ui/GlassCard.tsx
Due: frontend-app-lint, frontend-app-typecheck

chore(prod): backfill runtime parity hardening and policy baseline
  .github/workflows/deploy-prod.yml
  docs/PARITY_CONTRACT.md
  docs/incidents/2026-02-27-prod-runtime-parity-breakglass-backfill.md
  docs/runbooks/deploy-release-sop.md
  docs/stage-promotion-gates.md
  scripts/check_run_parity.sh
Due: gcp-deploy-guard, enforce-test-email-domain

Harden dev and stage Cloud Run access
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

Harden dev/stage runtime access policy (#72)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

chore(dev): trigger hardened dev/stage deploy workflows
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

chore(stage): apply authenticated-only runtime policy (#75)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard

Promote stage to main parity (dev/stage auth + prod public preserved) (#76)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-stage.yml
  docs/PARITY_CONTRACT.md
Due: gcp-deploy-guard

Web UI overhaul snapshot without Code Connect
  docs/web-ui-figma-contract.md
  docs/web-ui-figma-manual-sync.md
  docs/web-ui-motion-usage-map.md
  docs/web-ui-overhaul-evidence.md
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/components/ChatMessage.tsx
  frontend-app/src/components/ThemeToggle.tsx
  frontend-app/src/components/tests/ChatMessage.test.tsx
  frontend-app/src/layouts/AppLayout.tsx
  frontend-app/src/pages/AIAssistant.tsx
  frontend-app/src/services/gcp_auth_driver.ts
  frontend-app/src/setupTests.ts
  frontend-app/src/styles/index.css
  frontend-app/src/tests/integration/ai.test.tsx
  frontend-marketing/src/app/page.tsx
  frontend-marketing/src/lib/motion.tsx
  frontend-marketing/src/setupTests.ts
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

fix(access): enforce domain-only prod entrypoint and add backup operators
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  docs/PARITY_CONTRACT.md
  docs/compliance/access-allowlist/jualuma-dev.allowlist
  docs/compliance/access-allowlist/jualuma-prod.allowlist
Due: gcp-deploy-guard

fix(access): enforce domain-only prod entrypoint and add backup operators (#77)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  docs/PARITY_CONTRACT.md
  docs/compliance/access-allowlist/jualuma-dev.allowlist
  docs/compliance/access-allowlist/jualuma-prod.allowlist
Due: gcp-deploy-guard

fix(prod-smoke): fail on auth redirects for public domain checks
  .github/workflows/deploy-prod.yml
Due: gcp-deploy-guard
