Repository intellifide/JuaLuma-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]

  - repo: local
    hooks:
      - id: backend-pytest
        name: backend-pytest
        entry: bash -c 'cd backend && DATABASE_URL=sqlite:///./test.db pytest -q'
        language: system
        files: ^backend/.*
        pass_filenames: false

      - id: frontend-app-lint
        name: frontend-app-lint
        entry: bash -c 'cd frontend-app && npm run lint'
        language: system
        files: ^frontend-app/.*\.tsx?$
        pass_filenames: false

      - id: frontend-app-typecheck
        name: frontend-app-typecheck
        entry: bash -c 'cd frontend-app && npx tsc --noEmit'
        language: system
        files: ^frontend-app/.*\.tsx?$
        pass_filenames: false

      - id: gcp-deploy-guard
        name: gcp-deploy-guard
        entry: bash scripts/check_gcp_drift.sh
        language: system
        files: ^\.github/workflows/deploy-(dev|prod)\.yml$
        pass_filenames: false

      - id: enforce-test-email-domain
        name: enforce-test-email-domain
        entry: bash scripts/enforce_test_email_domain.sh
        language: system
        files: ^(backend/tests/|frontend-app/src/tests/|tests/|scripts/).*
        pass_filenames: false

feat(stage): add stage deploy workflow parity guard and release docs
  .github/workflows/deploy-stage.yml
  README.md
  docs/PARITY_CONTRACT.md
  docs/stage-domain-policy.md
  docs/stage-infra-inventory.md
  docs/stage-promotion-gates.md
  docs/stage-release-architecture.md
  docs/stage-rollback-runbook.md
  scripts/check_gcp_drift.sh
  scripts/check_run_parity.sh
Due: enforce-test-email-domain

test(frontend-app): relax household invite placeholder matcher
  frontend-app/src/tests/integration/household.test.tsx
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

Stage rollout sync: runtime fix, deploy workflow, parity/rollback docs (#6)
  .github/workflows/deploy-stage.yml
  README.md
  backend/main.py
  docs/PARITY_CONTRACT.md
  docs/stage-domain-policy.md
  docs/stage-infra-inventory.md
  docs/stage-promotion-gates.md
  docs/stage-release-architecture.md
  docs/stage-rollback-runbook.md
  frontend-app/src/tests/integration/household.test.tsx
  scripts/check_gcp_drift.sh
  scripts/check_run_parity.sh
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

Promote Dev to stage: rollout parity, smoke, and release controls (resolved) (#8)
  .github/workflows/deploy-stage.yml
  README.md
  backend/main.py
  docs/PARITY_CONTRACT.md
  docs/stage-domain-policy.md
  docs/stage-infra-inventory.md
  docs/stage-promotion-gates.md
  docs/stage-release-architecture.md
  docs/stage-rollback-runbook.md
  frontend-app/src/tests/integration/household.test.tsx
  scripts/check_gcp_drift.sh
  scripts/check_run_parity.sh
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

ci(stage): switch deploy auth to workload identity
  .github/workflows/deploy-stage.yml
Due: none

ci(stage): switch deploy auth to workload identity (#10)
  .github/workflows/deploy-stage.yml
Due: none

test(frontend-app): wait for quota render in ai integration
  frontend-app/src/tests/integration/ai.test.tsx
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

test(frontend-app): wait for quota render in ai integration (#11)
  frontend-app/src/tests/integration/ai.test.tsx
Due: frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

Promote stage to main: validated release candidate rollout (#9)
  .github/workflows/deploy-stage.yml
  README.md
  backend/main.py
  docs/PARITY_CONTRACT.md
  docs/stage-domain-policy.md
  docs/stage-infra-inventory.md
  docs/stage-promotion-gates.md
  docs/stage-release-architecture.md
  docs/stage-rollback-runbook.md
  frontend-app/src/tests/integration/ai.test.tsx
  frontend-app/src/tests/integration/household.test.tsx
  scripts/check_gcp_drift.sh
  scripts/check_run_parity.sh
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

ci(prod): attest images before Cloud Run deploy
  .github/workflows/deploy-prod.yml
Due: gcp-deploy-guard

ci(prod): attest images before Cloud Run deploy (#12)
  .github/workflows/deploy-prod.yml
Due: gcp-deploy-guard

ci(prod): install beta gcloud component for attestation step
  .github/workflows/deploy-prod.yml
Due: gcp-deploy-guard

ci(prod): install beta gcloud component for attestation step (#14)
  .github/workflows/deploy-prod.yml
Due: gcp-deploy-guard

Backport stage/prod deploy reliability fixes into Dev (#15)
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
  frontend-app/src/tests/integration/ai.test.tsx
Due: frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

AI revamp: routing fallback contracts, GCP parity docs, and promotion-first policy
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  backend/api/ai.py
  backend/core/config.py
  backend/services/ai.py
  backend/tests/test_ai.py
  docs/ai-assistant-bigquery-billing-export-decision.md
  docs/ai-assistant-file-multimodal-support-spec.md
  docs/ai-assistant-model-routing-spec.md
  docs/ai-assistant-quota-period-spec.md
  docs/ai-assistant-revamp-policy-contract.md
  docs/ai-assistant-verification-rollback-gate-matrix.md
  docs/runbooks/ai-assistant-gcp-runtime-sync-procedure.md
  frontend-app/src/services/aiService.ts
  scripts/check_gcp_drift.sh
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

AI revamp: routing fallback contracts, GCP parity docs, and promotion-first policy (#17)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  backend/api/ai.py
  backend/core/config.py
  backend/services/ai.py
  backend/tests/test_ai.py
  docs/ai-assistant-bigquery-billing-export-decision.md
  docs/ai-assistant-file-multimodal-support-spec.md
  docs/ai-assistant-model-routing-spec.md
  docs/ai-assistant-quota-period-spec.md
  docs/ai-assistant-revamp-policy-contract.md
  docs/ai-assistant-verification-rollback-gate-matrix.md
  docs/runbooks/ai-assistant-gcp-runtime-sync-procedure.md
  frontend-app/src/services/aiService.ts
  scripts/check_gcp_drift.sh
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, gcp-deploy-guard, enforce-test-email-domain

ai revamp: complete AIR-022 through AIR-032
  backend/api/ai.py
  backend/api/documents.py
  backend/services/ai.py
  backend/services/financial_context.py
  backend/tests/test_ai.py
  backend/tests/test_documents.py
  backend/tests/test_financial_context_documents.py
  docs/Data-Flow-Diagrams.md
  docs/Operational-Procedures.md
  docs/ai-assistant-bigquery-billing-export-decision.md
  docs/ai-assistant-file-multimodal-support-spec.md
  docs/ai-assistant-verification-rollback-gate-matrix.md
  docs/runbooks/ai-assistant-gcp-runtime-sync-procedure.md
  docs/tech-stack.md
  frontend-app/src/components/AIPrivacyModal.tsx
  frontend-app/src/components/AISidebar.tsx
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/components/DocumentList.tsx
  frontend-app/src/components/QuotaDisplay.tsx
  frontend-app/src/components/tests/ChatInput.test.tsx
  frontend-app/src/pages/AIAssistant.tsx
  frontend-app/src/pages/PlanSelection.tsx
  frontend-app/src/services/aiService.ts
  frontend-app/src/tests/integration/ai.test.tsx
  frontend-app/src/tests/integration/fileIconMapping.test.ts
  frontend-app/src/utils/fileIconMapping.ts
  frontend-marketing/src/app/features/page.tsx
  frontend-marketing/src/app/legal/ai-disclaimer/page.tsx
  frontend-marketing/src/app/pricing/page.tsx
  frontend-marketing/src/app/support/page.tsx
  requirements.txt
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

feat(tatum): complete hard cutover and remove legacy web3 providers
  .env.example
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  README.md
  backend/README.md
  backend/api/accounts.py
  backend/core/config.py
  backend/integrations/bitquery/__init__.py
  backend/integrations/bitquery/adapters.py
  backend/integrations/bitquery/client.py
  backend/integrations/bitquery/history.py
  backend/integrations/bitquery/queries.py
  backend/integrations/blockfrost/__init__.py
  backend/integrations/blockfrost/cardano.py
  backend/integrations/blockfrost/client.py
  backend/services/crypto_history.py
  backend/services/tatum_history.py
  backend/services/web3_history.py
  backend/tests/test_blockfrost_integration.py
  backend/tests/test_tatum_history.py
  backend/tests/test_web3_history.py
  docs/PARITY_CONTRACT.md
  docs/Web3-History-Providers.md
  docs/runbooks/production-support-procedures.md
  scripts/check_run_parity.sh
Due: backend-pytest, gcp-deploy-guard, enforce-test-email-domain

feat(tatum): complete hard cutover and remove legacy web3 providers
  .env.example
  .github/workflows/deploy-dev.yml
  README.md
  backend/README.md
  backend/api/accounts.py
  backend/core/config.py
  backend/integrations/bitquery/__init__.py
  backend/integrations/bitquery/adapters.py
  backend/integrations/bitquery/client.py
  backend/integrations/bitquery/history.py
  backend/integrations/bitquery/queries.py
  backend/integrations/blockfrost/__init__.py
  backend/integrations/blockfrost/cardano.py
  backend/integrations/blockfrost/client.py
  backend/services/crypto_history.py
  backend/services/tatum_history.py
  backend/services/web3_history.py
  backend/tests/test_blockfrost_integration.py
  backend/tests/test_tatum_history.py
  backend/tests/test_web3_history.py
  docs/PARITY_CONTRACT.md
  docs/Web3-History-Providers.md
  docs/runbooks/production-support-procedures.md
  scripts/check_run_parity.sh
Due: backend-pytest, gcp-deploy-guard, enforce-test-email-domain

feat(tatum): complete hard cutover and remove legacy web3 providers (#20)
  .env.example
  .github/workflows/deploy-dev.yml
  README.md
  backend/README.md
  backend/api/accounts.py
  backend/core/config.py
  backend/integrations/bitquery/__init__.py
  backend/integrations/bitquery/adapters.py
  backend/integrations/bitquery/client.py
  backend/integrations/bitquery/history.py
  backend/integrations/bitquery/queries.py
  backend/integrations/blockfrost/__init__.py
  backend/integrations/blockfrost/cardano.py
  backend/integrations/blockfrost/client.py
  backend/services/crypto_history.py
  backend/services/tatum_history.py
  backend/services/web3_history.py
  backend/tests/test_blockfrost_integration.py
  backend/tests/test_tatum_history.py
  backend/tests/test_web3_history.py
  docs/PARITY_CONTRACT.md
  docs/Web3-History-Providers.md
  docs/runbooks/production-support-procedures.md
  scripts/check_run_parity.sh
Due: backend-pytest, gcp-deploy-guard, enforce-test-email-domain

ai revamp: complete AIR-022 through AIR-032 (#21)
  backend/api/ai.py
  backend/api/documents.py
  backend/services/ai.py
  backend/services/financial_context.py
  backend/tests/test_ai.py
  backend/tests/test_documents.py
  backend/tests/test_financial_context_documents.py
  docs/Data-Flow-Diagrams.md
  docs/Operational-Procedures.md
  docs/ai-assistant-bigquery-billing-export-decision.md
  docs/ai-assistant-file-multimodal-support-spec.md
  docs/ai-assistant-verification-rollback-gate-matrix.md
  docs/runbooks/ai-assistant-gcp-runtime-sync-procedure.md
  docs/tech-stack.md
  frontend-app/src/components/AIPrivacyModal.tsx
  frontend-app/src/components/AISidebar.tsx
  frontend-app/src/components/ChatInput.tsx
  frontend-app/src/components/DocumentList.tsx
  frontend-app/src/components/QuotaDisplay.tsx
  frontend-app/src/components/tests/ChatInput.test.tsx
  frontend-app/src/pages/AIAssistant.tsx
  frontend-app/src/pages/PlanSelection.tsx
  frontend-app/src/services/aiService.ts
  frontend-app/src/tests/integration/ai.test.tsx
  frontend-app/src/tests/integration/fileIconMapping.test.ts
  frontend-app/src/utils/fileIconMapping.ts
  frontend-marketing/src/app/features/page.tsx
  frontend-marketing/src/app/legal/ai-disclaimer/page.tsx
  frontend-marketing/src/app/pricing/page.tsx
  frontend-marketing/src/app/support/page.tsx
  requirements.txt
Due: backend-pytest, frontend-app-lint, frontend-app-typecheck, enforce-test-email-domain

fix(ci): resolve Dev CI mypy error and frontend Cloud Run startup
  .github/workflows/deploy-dev.yml
  backend/api/documents.py
  frontend-app/Dockerfile
  scripts/docker/nginx_spa.conf.template
Due: backend-pytest, gcp-deploy-guard, enforce-test-email-domain

fix(ci): resolve Dev CI mypy error and frontend Cloud Run startup (#22)
  .github/workflows/deploy-dev.yml
  backend/api/documents.py
  frontend-app/Dockerfile
  scripts/docker/nginx_spa.conf.template
Due: backend-pytest, gcp-deploy-guard, enforce-test-email-domain

fix(cd): stabilize support-portal Cloud Run startup on Dev
  .github/workflows/deploy-dev.yml
  support-portal/Dockerfile
Due: gcp-deploy-guard

fix(cd): stabilize support-portal Cloud Run startup on Dev (#24)
  .github/workflows/deploy-dev.yml
  support-portal/Dockerfile
Due: gcp-deploy-guard

docs: refresh readmes and branded license experience
  LICENSE
  README.md
  backend/README.md
  frontend-app/README.md
  frontend-app/package.json
  frontend-marketing/README.md
  frontend-marketing/package.json
  frontend-marketing/src/app/developers/page.tsx
  frontend-marketing/src/app/legal/license/page.tsx
  frontend-marketing/src/app/legal/terms/page.tsx
  frontend-marketing/src/app/pricing/page.tsx
  frontend-marketing/src/app/support/page.tsx
  frontend-marketing/src/components/Footer.tsx
  support-portal/README.md
  support-portal/package.json
Due: backend-pytest

docs: refresh readmes and branded license experience (#26)
  LICENSE
  README.md
  backend/README.md
  frontend-app/README.md
  frontend-app/package.json
  frontend-marketing/README.md
  frontend-marketing/package.json
  frontend-marketing/src/app/developers/page.tsx
  frontend-marketing/src/app/legal/license/page.tsx
  frontend-marketing/src/app/legal/terms/page.tsx
  frontend-marketing/src/app/pricing/page.tsx
  frontend-marketing/src/app/support/page.tsx
  frontend-marketing/src/components/Footer.tsx
  support-portal/README.md
  support-portal/package.json
Due: backend-pytest

chore(dast): use canonical dev Cloud Run targets
  .github/workflows/dast.yml
Due: none

chore(dast): switch to canonical Dev service targets (#27)
  .github/workflows/dast.yml
Due: none

fix(marketing): embed full license text on legal page [skip ci]
  frontend-marketing/src/app/legal/license/page.tsx
Due: none

fix(marketing): embed full license text on legal page [skip ci] (#28)
  frontend-marketing/src/app/legal/license/page.tsx
Due: none

chore(deploy): enforce PLAID_ENV=production across dev stage prod
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-stage.yml
Due: gcp-deploy-guard
